.header nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header nav .logo{
    width: 300px;
}

.header .logo img{
    width: 100%;
}

.header nav ul{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.header nav ul li{
    list-style: none;
}