body{
    font-family: 'Outfit', sans-serif;
    margin-right: 10vw;
    margin-left: 10vw;
}
/* HEADER STYLE */

.header nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header nav .logo{
    width: 300px;
}

.header .logo img{
    width: 100%;
}

.header nav ul{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.header nav ul li{
    list-style: none;
}

/* HERO STYLE */

.hero{
    height: 80vh;
}

/* PARTNERS STYLE */

.partners{
    width: 100vw;
}
.partners-logo{
    display: flex;
    background-color: #5D7963;
    justify-content: space-around;
    align-items: center;
}

.partners-logo img{
    width: 10%;
    height: 10%;
}

/* CONCEPT STYLE */

/* VALUES STYLE */

.values .values-description{
    display: flex;
}
.values .values-description .value-box{
    background-color: #5D7963;
    width: 33%;
}

/* FEATURES STYLE */

.features .features-description .row{
    display: flex;
}
.features .features-description .row:nth-child(1) .feature-box:nth-child(1),.features .features-description .row:nth-child(2) .feature-box:nth-child(2){
    background-color: #5D7963;
    color: #FFFFFF;
    width: 50%;
}
.features .features-description .row:nth-child(2) .feature-box:nth-child(2),.features .features-description .row:nth-child(2) .feature-box:nth-child(1){
    width: 50%;
}