body{
    font-family: 'Outfit', sans-serif;
    margin: 0px !important;
    overflow-x: hidden;
    letter-spacing: 5%;
}

h2{
    font-weight: 400;
}
/* HEADER STYLE */
.header{
    margin-right: 10vw;
    margin-left: 10vw;
}
.header nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header nav .logo{
    width: 300px;
}

.header .logo img{
    width: 100%;
}

.header nav ul{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.header nav ul li{
    list-style: none;
}

/* HERO STYLE */

.hero{
    height: 80vh;
    margin-right: 10vw;
    margin-left: 10vw;
}

/* PARTNERS STYLE */

.partners{
    width: 100vw;
}
.partners-logo{
    display: flex;
    background-color: #5D7963;
    justify-content: space-around;
    align-items: center;
}

.partners-logo img{
    width: 10%;
    height: 10%;
}

/* CONCEPT STYLE */

.concept{
    margin-right: 10vw;
    margin-left: 10vw;
}

/* VALUES STYLE */

.values{
    margin-right: 10vw;
    margin-left: 10vw;
}

.values h4{
    text-transform: uppercase;
}

.values .values-description{
    display: flex;
    justify-content: space-between;
}
.values .values-description .value-box{
    background-color: #5D7963;
    width: 30%;
    text-align: center;
    color: #FFFFFF;
    line-height: 1.7;
    padding: 5px;
}

/* FEATURES STYLE */

.features{
    margin-right: 10vw;
    margin-left: 10vw;
}

.features .features-description .row{
    display: flex;
}
.features .features-description .row .feature-box{
    padding: 10px;
}
.features .features-description .row:nth-child(1) .feature-box:nth-child(1),.features .features-description .row:nth-child(2) .feature-box:nth-child(2){
    background-color: #5D7963;
    color: #FFFFFF;
    width: 50%;
}
.features .features-description .row:nth-child(2) .feature-box:nth-child(1),.features .features-description .row:nth-child(1) .feature-box:nth-child(2){
    width: 50%;
}