body{
    font-family: 'Outfit', sans-serif;
    margin: 0px !important;
    overflow-x: hidden;
    letter-spacing: 5%;
}

h2{
    font-weight: 400;
}

.animation-headline {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 700;
    color: #000;
  }
  .animation-headline.slide span {
    display: inline-block;
    padding: 0.2em 0;
  }
  .animation-headline.slide .animation-words-wrapper {
    overflow: hidden;
    vertical-align: top;
    padding: 0;
    color: #5D7963;
  }
  .animation-headline.slide b {
    opacity: 0;
    top: 0.2em;
  }
  .animation-headline.slide b.is-visible {
    top: 0;
    opacity: 1;
    -webkit-animation: slide-in 0.6s;
    -moz-animation: slide-in 0.6s;
    animation: slide-in 0.6s;
  }
  .animation-headline.slide b.is-hidden {
    -webkit-animation: slide-out 0.6s;
    -moz-animation: slide-out 0.6s;
    animation: slide-out 0.6s;
  }
  
  .animation-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
  }
  .animation-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
  }
  .animation-words-wrapper b.is-visible {
    position: relative;
  }
  .no-js .animation-words-wrapper b {
    opacity: 0;
  }
  .no-js .animation-words-wrapper b.is-visible {
    opacity: 1;
  }
  
  @-webkit-keyframes slide-in {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-100%);
    }
    60% {
      opacity: 1;
      -webkit-transform: translateY(20%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
    }
  }
  @-moz-keyframes slide-in {
    0% {
      opacity: 0;
      -moz-transform: translateY(-100%);
    }
    60% {
      opacity: 1;
      -moz-transform: translateY(20%);
    }
    100% {
      opacity: 1;
      -moz-transform: translateY(0);
    }
  }
  @keyframes slide-in {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    60% {
      opacity: 1;
      -webkit-transform: translateY(20%);
      -moz-transform: translateY(20%);
      -ms-transform: translateY(20%);
      -o-transform: translateY(20%);
      transform: translateY(20%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @-webkit-keyframes slide-out {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
    }
    60% {
      opacity: 0;
      -webkit-transform: translateY(120%);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(100%);
    }
  }
  @-moz-keyframes slide-out {
    0% {
      opacity: 1;
      -moz-transform: translateY(0);
    }
    60% {
      opacity: 0;
      -moz-transform: translateY(120%);
    }
    100% {
      opacity: 0;
      -moz-transform: translateY(100%);
    }
  }
  @keyframes slide-out {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
    60% {
      opacity: 0;
      -webkit-transform: translateY(120%);
      -moz-transform: translateY(120%);
      -ms-transform: translateY(120%);
      -o-transform: translateY(120%);
      transform: translateY(120%);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(100%);
      -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
      -o-transform: translateY(100%);
      transform: translateY(100%);
    }
  }

/* HEADER STYLE */
.header{
    margin-right: 10vw;
    margin-left: 10vw;
}
.header nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header nav .logo{
    width: 300px;
}

.header .logo img{
    width: 100%;
}

.header nav ul{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.header nav ul li{
    list-style: none;
}

/* HERO STYLE */

.hero{
    height: 80vh;
    margin-right: 10vw;
    margin-left: 10vw;
}

/* PARTNERS STYLE */

.partners{
    width: 100vw;
}
.partners-logo{
    display: flex;
    background-color: #5D7963;
    justify-content: space-around;
    align-items: center;
}

.partners-logo img{
    width: 10%;
    height: 10%;
}

/* CONCEPT STYLE */

.concept{
    margin-right: 10vw;
    margin-left: 10vw;
}

/* VALUES STYLE */

.values{
    margin-right: 10vw;
    margin-left: 10vw;
}

.values h4{
    text-transform: uppercase;
}

.values .values-description{
    display: flex;
    justify-content: space-between;
}
.values .values-description .value-box{
    background-color: #5D7963;
    width: 30%;
    text-align: center;
    color: #FFFFFF;
    line-height: 1.7;
    padding: 5px;
}

/* FEATURES STYLE */

.features{
    margin-right: 10vw;
    margin-left: 10vw;
}

.features .features-description .row{
    display: flex;
}
.features .features-description .row .feature-box{
    padding: 10px;
}
.features .features-description .row .feature-box h4{
    font-size: 40px;
    line-height: 0;
    text-transform: capitalize;
}
.features .features-description .row:nth-child(1) .feature-box:nth-child(1),.features .features-description .row:nth-child(2) .feature-box:nth-child(2){
    background-color: #5D7963;
    color: #FFFFFF;
    width: 50%;
}
.features .features-description .row:nth-child(2) .feature-box:nth-child(1),.features .features-description .row:nth-child(1) .feature-box:nth-child(2){
    width: 50%;
}